<a href="https://colab.research.google.com/github/nivetha-13/Python/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Difference between / and // operators

/ - Classic division ; Example output : 3.75
// - floor division ; Example output : 3

In [1]:
# Arithmetic operators ----------------------------

x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)
# Output: x - y = 11
print('x - y =',x-y)
# Output: x * y = 60
print('x * y =',x*y)
# Output: x / y = 3.75 - Classic division
print('x / y =',x/y)
# Output: x // y = 3 -- floor division
print('x // y =',x//y)
# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [2]:
# comparision operators ----------------------------

x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)
# Output: x < y is True
print('x < y  is',x<y)
# Output: x == y is False
print('x == y is',x==y)
# Output: x != y is True
print('x != y is',x!=y)
# Output: x >= y is False
print('x >= y is',x>=y)
# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

Logical operators (AND,OR,NOT)

In [4]:
# Logical operators ----------------------------

# AND - Returns true if both the statements are true
# OR - Returns true if any 1 of the statement/ condition is true
# NOT - Reverses the result, Returns false if the output is true

x = 3
y = 4

# Output: x and y is False
print('x and y is',x and y)

# Output: x or y is True
print('x or y is',x or y)

# Output: not x is False
print('not x is',not x)

x and y is 4
x or y is 3
not x is False

In [ ]:
Control flow

If else

In [ ]:
#-------------------if else

a = 33
b = 200
if (b > a):
  print("b is greater than a");

a = 33
b = 200
if b > a:
  print("b is greater than a") # you will get an error without indentation

a = 33
b = 35 # change value and see
if a == b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a = 200
b = 33 # change value and see
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

#shortcut syntax
if a > b: print("a is greater than b")

print("A") if a > b else print("B")

a = 200
b = 33 # change value and see
c=300
if a > b and c > a:
  print("Both conditions are True")

if a > b or a > c:
  print("At least one of the conditions are True")

Membership operator (IN , NOT IN)

```
# This is formatted as code
```

In [ ]:
# Membership operators ----------------------------

x = 24
y = 20
list = [10, 20, 30, 40, 50 ]
  
if  (x not in list):  
   print("x is NOT present in given list")
else: 
   print("x is  present in given list")
  
if ( y in list ): 
   print("y is present in given list")
else: 
   print("y is NOT present in given list")

Identity operator

In [6]:
x=5.3
if (type(x) is int):
  print("true")
else:
  print("False")

False

for loop

In [7]:
for i in [2,6,'Ove']:
  print(i)

2
6
Ove

range(10) -> it means it will print from 0 to 9

In [8]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

while loop

In [13]:
i=1
while i<=5:
 print("Telusko")
 i=i+1

Telusko
Telusko
Telusko
Telusko
Telusko

In [15]:
i=1
while i<=5:
  print("Telusko ", end="")
  j=1
  while j<=4:
    print("Rocks ", end="")
    j=j+1
  i=i+1
  print()

Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks